* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}


body {
    font-family: Arial;
    background-color: #EDEDED;
}

.header {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
}

.banner {
    width: 100%;
    height: 120px;
    background-color: #07184A;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 320px;
}

.banner h4 {
    position: relative;
    bottom: 5px;
    font-size: 25px;
}

.banner h5 {
    font-size: 15px;
    position: relative;
    top: 5px;
    font-weight: 5;
}

.banner p {
    font-size: 25px;
    position: relative;
    left: 150px;
    color: #0182D0;
}

h4, h5 {
    position: relative;
    left: 10px;
    color: #BDBDBD;
}

.nav {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #fff;
}

a {
    text-decoration: none;
    font-size: 14px;
    padding: 20px;
}

a:hover {
    color: rgb(255, 187, 0);
}

.a1 {
    margin-left: 300px;
}

.btn {
    margin-left: 600px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #07184A;
    color: #fff;
    cursor: pointer;
}

.head {
    padding-top: 210px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
}

.head h5 {
    color: #008be2;
}

.line {
    margin-top: 10px;
    width: 80%;
    height: 2px;
    margin-left: 10%;
    background-color: #0182D0;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.block {
    background-color: #0081d1;
    width: 18%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 30px 0 30px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.block h5 {
    font-size: 20px;
    padding: 30px 40px 20px 40px;
    color: #fff;
}

.block p {
    color: #fff;
    font-size: 15px;
}

.bt {
    width: 120px;
    height: 50px;
    background-color: rgb(33, 255, 33);
    border: none;
    border-radius: 5px;
    margin-top: 80px;
    cursor: pointer;
    transition: .2s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bt a {
    color: #fff;
    font-size: 16px;
}

.bt:hover {
    background-color: green;
}

.footer {
    width: 100%;
    height: 300px;
    margin-top: 100px;
    background-color: #07184A;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.line-1 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-1 .item a {
    padding: 0 40px;
    position: relative;
    top: 50px;
    color: #fff;
    font-size: 18px;
}

.img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
}

.items {
    margin: 0 200px;
}

.items p {
    position: relative;
    top: -5px;
    font-size: 15px;
}

.line-2 {
    display: flex;
    position: relative;
    top: 60px;
    margin-left: 255px;
}

.col-1 .item {
    padding: 10px 0;
}

.col-2 {
    margin-left: 100px;
}

.col-2 a {
    color: white;
    text-decoration: none;
    padding-left: 0;
}

.col-2 .item {
    padding: 10px 0;
}