* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/sp-cuoi-ki/assets/img/hnue.jpg') no-repeat;
    background-size: cover;
    background-position-y: 90px;
    position: relative;
    height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 126px;
    background: #07184A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text p {
    position: fixed;
    font-size: 1.4em;
    color: #BDBDBD;
    top: 15px;
    left: 160px;
    padding: 10px 40px;
}

.en-text p {
    position: fixed;
    font-size: 0.7em;
    color: #BDBDBD;
    top: 45px;
    left: 160px;
    padding: 10px 40px;
}

.navigition a {
    position: relative;
    color: #BDBDBD;
    text-decoration: none;
    margin-left: 40px;
}

.navigition a:hover {
    color: #ecc560;
}

.navigition .btnLogin-popup {
    width: 101px;
    height: 36px;
    background: transparent;
    border: 1px solid #BDBDBD;
    border-radius: 6px;
    font-size: 0.8em;
    color: #BDBDBD;
    cursor: pointer;
    margin-left: 40px;
    transition: .5s;
}

.navigition .btnLogin-popup:hover {
    background: #fff;
    color: #07184A;
}