* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    
}

html {
    font-family: Arial;
}

#main {
    
}

#header {
    height: 50px;
    background-color: #07184A;
}

#nav {
    
}

#nav li:hover a {
    color: black;
    background-color: aliceblue;
}

#nav li {
    display: inline-block;
}

#nav li a {
    color: #FFF;
    text-decoration: none;
    font-size: 10px;
    line-height: 50px;
    padding: 20px;
}

#nav .subnav {
    display: none;

}



#slider {

}

#content {

}

#footer {

}
